@import "tailwindcss";

:root {
  --yellow: #ffcc00;
  --yellow-bright: #fcea62;
  --red: #cc3333;
  --red-dark: #cc0000;
  --burgundy: #aa0000;
  --light-yellow: #fdeaa1;
  --dark: #424242;
  --black: #000000;
  --white: #ffffff;
  --orange: #dd9933;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.65em;
  font-weight: 500;
  color: #1a1a1a;
}
